---
layout: default
---
<div id="bg-new">
    <div class="main">

        {% for name in site.data.names %}
            {% if forloop.index <= 1 %}
            <div class="name active">
            {% else %}
            <div class="name">
            {% endif %}
            <p class="joining">Hi I'm</p>
            <p>
                <a href="{{ name.url }}">
                    <i class="fab fa-{{ name.icon }}"></i> {{ name.name }}
                </a>
            </p>
            </div>
        {% endfor %}

        {% for interest in site.data.personal-interests %}

            {% if forloop.index <= 1 %}
            <div class="personal-interest active">
            {% else %}
            <div class="personal-interest">
            {% endif %}

            <p class="joining">I'm {{ interest.prefix }}</p>
            <p>
                <a href="{{ interest.url }}">{{ interest.interest }}</a>
            </p>
            </div>
        {% endfor %}

        {% for interest in site.data.professional-interests %}

            {% if forloop.index <= 1 %}
            <div class="professional-interest active">
            {% else %}
            <div class="professional-interest">
            {% endif %}

            <p class="joining">and sometimes {{ interest.prefix }}</p>
            <p>
                <a href="{{ interest.url }}">{{ interest.interest }}</a>
            </p>
            </div>
        {% endfor %}
    </div>
</div>
